doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/libs/bootstrap.css')
    link(rel='stylesheet', href='/css/libs/bootstrap-theme.css')
    link(rel='stylesheet', href='/css/style.css')
  body
    block content

    script(src='/js/libs/jquery.min.js')
    script(src='/js/libs/bootstrap.min.js')
